<h1>Edit Clothe handbook</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.clothe_handbook_path(@conn, :update, @clothe_handbook)) %>

<span><%= link "Back", to: Routes.clothe_handbook_path(@conn, :index) %></span>
