<h1>Show Employee</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.sales_employee_path(@conn, :edit, @employee) %></span>
<span><%= link "Back", to: Routes.sales_employee_path(@conn, :index) %></span>
