<h1>New Employee</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sales_employee_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.sales_employee_path(@conn, :index) %></span>
