<h1>Купить одежду</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.clothe_in_store_path(@conn, :update, @clothe_in_store)) %>

<span><%= link "К списку одежды", to: Routes.clothe_in_store_path(@conn, :index), class: "btn btn-primary" %></span>
