<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Неправильное число покупаемой одежды.</p>
    </div>
  <% end %>

  <div class="form-group">
    <label for="clothe_in_store_quantity">
      Количество <%= number_input f, :quantity, class: "form-control" %>
    </label>

    <%= error_tag f, :quantity %>
    <%= submit "Купить", class: "btn btn-success" %>
  </div>

<% end %>
