<h1>New Clothe example</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sales_clothe_example_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.sales_clothe_example_path(@conn, :index) %></span>
