<h1>Edit Clothe colour</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.clothe_colour_path(@conn, :update, @clothe_colour)) %>

<span><%= link "Back", to: Routes.clothe_colour_path(@conn, :index) %></span>
