<h1>New Clothe colour</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.clothe_colour_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.clothe_colour_path(@conn, :index) %></span>
