<h1>Edit Sales recepeit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sales_recepeit_path(@conn, :update, @sales_recepeit)) %>

<span><%= link "Back", to: Routes.sales_recepeit_path(@conn, :index) %></span>
